*.pyc
build/
*.egg-info/
input/*
output/*
ground_truth/*
/.fleet
/.obsidian
/.spyproject
/.vs
/.vscode
/env*
*.pyproj.*
speedscope.json
*.pkl
.venv*/
benchmarks/
.idea/
.python-version
docs/_build/
docs/api/
.coverage
/out.txt
*.log
