*.pyc
build/
*.egg-info/
input/*
output/*
ground_truth/*
/.fleet
/.obsidian
/.spyproject
/.vs
/.vscode
/.idea
/env*
*.pyproj.*
speedscope.json
*.pkl
.venv/
benchmarks/
profile.*
docs/_build/
docs/api/
