*.pyc
build/
*.egg-info/
input/*
output/*
ground_truth/*
/.fleet
/.obsidian
/.spyproject
/.vs
/.vscode
/env*
*.pyproj.*
speedscope.json
*.pkl
.venv*/
benchmarks/
.idea/
docs/_build/
docs/api/
.coverage